body {
    background-color: rgba(244, 246, 248, 255);
}

nav {
    background-color: rgba(255, 238, 204, 255);
    display: flex;
    width: 100%;
}

nav>div:nth-child(1) {
    flex-basis: 50%;
}

nav>div:nth-child(2) {
    flex-basis: 50%;
    display: flex;
}

nav>div>img {
    width: 20%;
    margin: 4% 0% 2% 3%;
}

nav>div>button {
    text-decoration: none;
    padding: 2% 5% 2% 5%;
    margin: 5% 0% 0% 0%;
    background-color: rgba(255, 238, 204, 255);
    border: none;
    font-size: 15px;
}

nav>div>button:nth-child(3) {
    border: 1px solid black;
    border-radius: 5px;
    padding: 3% 5% 3% 5%;
}
#h1main {
    width: 100%;
    text-align: center;
    font-size: 30px;
}

#amanlayout1 {
    display: flex;
    width: 100%;
    margin-top: 3%;
}

#amanleft {
    flex-basis: 50%;
}

#amanleft>img {
    width: 100%;
}

#amanright {
    flex-basis: 50%;
    text-align: left;
}

#amanright>p {
    font-size: 20px;
    line-height: 24px;
    padding-right: 10%;
    padding-left: 5%;
}

#rightcontent {
    width: 100%;
    display: flex;
}

#rightcontent>div>ol>li {
    list-style: none;
    font-size: 25px;
    line-height: 50px;
}


