
body {
    background-color: rgba(244, 246, 248, 255);
}

nav {
    background-color: rgba(255, 238, 204, 255);
    display: flex;
    width: 100%;
}

nav>div:nth-child(1) {
    flex-basis: 50%;
}

nav>div:nth-child(2) {
    flex-basis: 50%;
    display: flex;
}
nav>div>img {
    width: 20%;
    margin: 4% 0% 2% 3%;
}

nav>div>button {
    text-decoration: none;
    padding: 2% 5% 2% 5%;
    margin: 5% 0% 0% 0%;
    background-color: rgba(255, 238, 204, 255);
    border: none;
    font-size: 15px;
}

nav>div>button:nth-child(3) {
    border: 1px solid black;
    border-radius: 5px;
    padding: 3% 5% 3% 5%;
}

#meeradiv1 {
    display: flex;
    width: 100%;
    background-color: rgba(255, 238, 204, 255);
}

#meeradiv1>div {
    flex-basis: 50%;
}

#meeradiv1>div:nth-child(2)>img {
    width: 90%;
    padding: 20% 0% 10% 0%;
}

#meeradiv1>div:nth-child(1) {
    padding: 10% 0% 0% 0%;
}

#meeradiv1>div:nth-child(1)>h1 {
    font-size: 40px;
    padding: 6% 15% 0% 10%;
}

#meeradiv1>div:nth-child(1)>p {
    font-size: 25px;
    font-weight: 400;
    line-height: 40px;
    padding: 5% 15% 0% 10%;
}

#meeradiv1>div:nth-child(1)>button {
    margin: 3% 15% 20% 10%;
    padding: 2% 3% 2% 2%;
    color: white;
    font-size: 20px;
    background-color: #fa824c;
    border: 1px solid #fa824c;
}

#meeradiv2 {
    width: 100%;
    display: flex;
    background-color: #ffe7b8;
}

#meeradiv2>div {
    flex-basis: 16%;
    margin: 3% 0% 0% 3%;
}

#meeradiv2>div>img {
    width: 75%;
    filter: invert(88%) sepia(40%) saturate(892%) hue-rotate(310deg) brightness(96%) contrast(73%);
}
#h1main {
    width: 100%;
    text-align: center;
    font-size: 30px;
}

#amanlayout1 {
    display: flex;
    width: 100%;
    margin-top: 3%;
}

#amanleft {
    flex-basis: 50%;
}

#amanleft>img {
    width: 100%;
}

#amanright {
    flex-basis: 50%;
    text-align: left;
}

#amanright>p {
    font-size: 20px;
    line-height: 24px;
    padding-right: 10%;
    padding-left: 5%;
}

#rightcontent {
    width: 100%;
    display: flex;
}

#rightcontent>div>ol>li {
    list-style: none;
    font-size: 25px;
    line-height: 50px;
}
#amanlayout1div2 {
    display: flex;
    background-color: rgba(255, 238, 204, 255);
    width: 100%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

#amanlayout1div2>div:nth-child(1) {
    flex-basis: 66%;
}

#amanlayout1div2>div:nth-child(2) {
    flex-basis: 34%;
    margin: auto;
    text-align: center;
}

#amanlayout1div2>div:nth-child(1)>p {
    font-size: 25px;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
}

#amanlayout1div2>div:nth-child(2)>button {
    font-size: 20px;
    padding: 10px 15px 10px 15px;
    background-color: rgba(255, 238, 204, 255);
    border: 1px solid black;
    border-radius: 5px;
}

#amanlayout2 {
    display: flex;
    background-color: rgba(255, 238, 204, 255);
    width: 100%;
    margin: auto;
    clear: both;
}

#amanlayout2left {
    flex-basis: 50%;
    text-align: center;
}

#amanlayout2left>img {
    width: 70%;
    margin: 20% 0% 0% 1%;
}

#amanlayout2right {
    flex-basis: 50%;
    background-color: white;
}

#amanlayout2right>h2 {
    font-size: 32px;
    padding: 0% 10% 0% 10%;
    margin-top: 5%;
}

#amanlayout2right>p {
    font-size: 20px;
    margin-top: -4%;
    padding: 0% 10% 0% 10%;
    line-height: 25px;
}

#amanlayout2right>div {
    display: flex;
    flex-direction: column;
    padding: 0% 10% 0% 10%;
}

.amanlayout2rightcontent {
    display: flex;
    margin-bottom: 10%;
}

.amanlayout2rightcontent:nth-child(1) {
    margin-top: 5%;
}

.amanlayout2rightcontent>div:nth-child(1) {
    flex-basis: 20%;
}

.amanlayout2rightcontent>div:nth-child(2) {
    flex-basis: 80%;
}

.amanlayout2rightcontent>div>img {
    width: 100%;
}

.amanlayout2rightcontent>div>h3 {
    font-size: 26px;
    margin: 0% 10% 0% 10%;
}

.amanlayout2rightcontent>div>p {
    font-size: 22px;
    margin: 0% 0% 0% 10%;
}
.Pooransdiv1 {
    display: flex;
    background-color: rgba(255, 238, 204, 255);
    width: 100%;
    margin: auto;
    clear: both;
}

.Pooransdiv1>div {
    flex-basis: 40%;
}

.Pooran1left {
    background-color: #ffffff;
    padding: 2% 5% 5% 5%;
}

.Pooran1right>img {
    width: 70%;
    margin: 20% 28% 20% 28%;
}

.Pooran1left>h2 {
    font-size: 40px;
}

.Pooran1left>p {
    font-size: 20px;
    padding-right: 5%;
    line-height: 30px;
    margin-top: 0%;
}

.Pooran1left>strong {
    font-size: 20px;
    font: bold;
    padding-right: 5%;
    margin-top: 0%;
}

.Pooran1left>p:nth-child(2) {
    background-color: #eaf3ff;
    color: #5292d1;
    padding: 5%;
    font-size: 15px;
    float: left;
    margin-top: -15px;
}
#bigwidthimg {
    width: 100%;
    margin: 30% 10% 0% 10%;
}
